trees:
  - path: /xas_feff_nmc
    tree: tree:MongoXASTree.from_uri
    args:
      uri: "mongodb://mongodb:27017/aimm?authSource=admin"
      username: "root"
      password: ${MONGODB_PASSWORD}
      collection_name: "xas_feff_nmc"
  - path: /newville
    tree: tree:MongoXASTree.from_uri
    args:
      uri: "mongodb://mongodb:27017/aimm?authSource=admin"
      username: "root"
      password: ${MONGODB_PASSWORD}
      collection_name: "newville"
  - path: /torrisi
    tree: tree:MongoXASTree.from_uri
    args:
      uri: "mongodb://mongodb:27017/aimm?authSource=admin"
      username: "root"
      password: ${MONGODB_PASSWORD}
      collection_name: "torrisi"
  - path: /heald
    tree: tree:MongoXASTree.from_uri
    args:
      uri: "mongodb://mongodb:27017/aimm?authSource=admin"
      username: "root"
      password: ${MONGODB_PASSWORD}
      collection_name: "heald_normalized"
  - path: /heald_unnormalized
    tree: tree:MongoXASTree.from_uri
    args:
      uri: "mongodb://mongodb:27017/aimm?authSource=admin"
      username: "root"
      password: ${MONGODB_PASSWORD}
      collection_name: "heald_unnormalized"
  - path: /wanli
    tree: tiled.trees.files:Tree.from_directory
    args:
      directory: /data/wanli-cleaned
      poll_interval: 0
  - path: /chengjun
    tree: aimm_adapters.heald_labview:RIXSImagesAndTable.from_directory
    args:
      directory: /data/chengjun/tiff_seq_test/files
uvicorn:
  host: 0.0.0.0
  port: 8000
  proxy-headers: true
authentication:
  authenticator: tiled.authenticators:OIDCAuthenticator
  args:
    client_id: ${ORCID_CLIENT_ID}
    client_secret: ${ORCID_CLIENT_SECRET}
    redirect_uri: https://aimm.lbl.gov/auth/code
    public_keys:
      - kty: "RSA"
        e: "AQAB"
        use: "sig"
        kid: "production-orcid-org-7hdmdswarosg3gjujo8agwtazgkp1ojs"
        n: "jxTIntA7YvdfnYkLSN4wk__E2zf_wbb0SV_HLHFvh6a9ENVRD1_rHK0EijlBzikb-1rgDQihJETcgBLsMoZVQqGj8fDUUuxnVHsuGav_bf41PA7E_58HXKPrB2C0cON41f7K3o9TStKpVJOSXBrRWURmNQ64qnSSryn1nCxMzXpaw7VUo409ohybbvN6ngxVy4QR2NCC7Fr0QVdtapxD7zdlwx6lEwGemuqs_oG5oDtrRuRgeOHmRps2R6gG5oc-JqVMrVRv6F9h4ja3UgxCDBQjOVT1BFPWmMHnHCsVYLqbbXkZUfvP2sO1dJiYd_zrQhi-FtNth9qrLLv3gkgtwQ"
        alg: RS256
    token_uri: https://orcid.org/oauth/token
    authorization_endpoint: https://orcid.org/oauth/authorize?client_id={client_id}&response_type=code&scope=openid&redirect_uri={redirect_uri}
    confirmation_message: You have logged with ORCID.
access_control:
  access_policy: tiled.trees.in_memory:SimpleAccessPolicy
  args:
    access_lists:
      # Map ORCID to list of paths they can see, or ALL as shown below.
      0000-0002-5947-6017: tiled.trees.in_memory:SimpleAccessPolicy.ALL  # Dan sees all
      0000-0003-3670-0431: tiled.trees.in_memory:SimpleAccessPolicy.ALL  # Joe sees all
      0000-0002-1539-0297: tiled.trees.in_memory:SimpleAccessPolicy.ALL  # Dylan sees all
      0000-0002-3337-2930: tiled.trees.in_memory:SimpleAccessPolicy.ALL  # Eli sees all
